.content {
    padding: 50px;
    width: 100%;

    & .login-form {
        width: 100%;
        & form {
            width: 100%;
            min-width: 200px;
            
            & div {
                position: relative;
                width: 100%;

                & svg {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 20px;
                    cursor: pointer;
                }
            }

        }

    }
}

@media (max-width: 400px) {
    button {
        width: 100%;
        max-width: none !important;
    }
}