.content {
    padding: 50px;

    & .login-opt {
        width: 100%;

        & .btn-white {
            gap: 10px;

            & svg {
                width: 20px;
            }
        }


    }
}